.idea
.DS_Store
/appBase/run/.env
/appBase/lara-sample/.env
/appBase/lara-sample/.php_cs.cache
/appBase/lara-sample/.phpunit.result.cache
/appBase/lara-sample/public/mix-manifest.json
/appBase/lara-sample/public/js/app.js
/appBase/lara-sample/public/css/app.css
/appBase/lara-sample/bootstrap/cache
/appBase/lara-sample/storage/debugbar
/appBase/lara-sample/storage/framework/cache
/appBase/lara-sample/storage/framework/sessions
/appBase/lara-sample/storage/framework/testing
/appBase/lara-sample/storage/framework/views
/appBase/lara-sample/storage/logs
/appBase/.env
/appBase/.envrc
